<!DOCTYPE html>
<html lang="en">
        
    <head>

        {{>head}}

    </head> 
    
    <body>

        <div class="container-fluid allHeight">
            
            {{>header}}

            <br><br>



            {{!-- TEMPLATE START --}}

            <div class="containerImgHeader">
                <img src="/img/404_page.png" class="img-404" alt="Image Header">
            </div>
        
            {{!-- TEMPLATE END --}}



        </div>

        {{>footer}}
        
        {{>scripts}}
        
    </body>

</html>