/***** Classes only for testing *****/
.testRed {
    background: red;
}

.testGreen {
    background: green;
}

.testBlue {
    background: blue;
}

.testWhite {
    background: white;
}
/* -------------------- */

/***** VISIBILITY class *****/
.setInVisible {
    display: none;
}
/* -------------------- */

/***** WARNING class *****/
.myWarning {
    box-shadow: 0px 0px 8px 0px rgb(238, 0, 0);
}
/* -------------------- */

body {
    background: rgb(212, 229, 245);
    background: linear-gradient(
        0deg,
        rgba(212, 229, 245, 1) 61%,
        rgba(0, 123, 238, 1) 91%
    );
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.allHeight {
    flex-grow: 1;
}

/**********************************************************************************/
/********************************* FORM elements **********************************/

/********** Back Button ***********/
.backButton {
    display: block;
    border-radius: 4px;
    background-color: rgba(0, 123, 238, 1);
    border: none;
    font-family: "Comic Neue", sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    margin-bottom: 40px;
}

.backButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.backButton span:after {
    content: "\00ab";
    position: absolute;
    opacity: 0;
    top: -2px;
    left: 50px;
    transition: 0.5s;
}

.backButton:hover span {
    padding-left: 25px;
}

.backButton:hover span:after {
    opacity: 1;
    left: 0;
}
/******** END Back Button *********/

.rangeText,
.rangeText1,
.imageInfo {
    color: rgb(75, 77, 94);
    font-family: "Comic Neue", sans-serif;
}

.rangeText1 {
    margin-top: -40px;
}

.imageInfo {
    margin-top: 40px;
    margin-bottom: -30px;
}

.allShadow {
    box-shadow: 0px 0px 7px 3px rgba(53, 53, 53, 0.43);
}

.bld {
    font-size: 120%;
    font-weight: 900;
}

.rangeSlider {
    width: 100%; /* Full-width */
}

.custom-range {
    display: block;
    width: 25%;
    margin: auto;
}

.myFileInput {
    background: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0px rgba(0, 123, 238, 1);
    margin: auto;
    margin-top: 40px;
    display: block;
}

#warningText {
    color: red;
    text-align: center;
    padding: 12px;
}

.myButton {
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0px rgba(0, 123, 238, 1);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
}
/********** Image Overlay ***********/
/* containerImgHeader needed to position the overlay. Adjust the width as needed */
.containerImgHeader {
    position: relative;
    width: auto;
}

/* The overlay effect - lays on top of the containerImgHeader and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 30px;
    padding: 7px;
    text-align: center;
}

/* When you mouse over the containerImgHeader, fade in the overlay title */
.containerImgHeader:hover .overlay {
    opacity: 1;
}
/******** END Image Overlay *********/

.img-fluid {
    box-shadow: 0px 8px 10px -2px rgba(0, 0, 0, 0.43);
}

.img-404 {
    display: block;
    margin: auto;
}

.mySpinner {
    margin: 40px 0px;
}

/**********************************************************************************/
/******************************** FOOTER elements *********************************/
footer {
    color: #8898bb;
    background: rgb(198, 214, 230);
    border-top: 1px solid rgb(0, 123, 238, 1);
    text-align: center;
    margin-top: 16px;
    padding-top: 5px;
}
